In [1]:
import pandas as pd

In [9]:
output = pd.read_csv('./blending_output2.csv')
output.head()

                          id  target
0  boostcamp-sts-v1-test-000     3.1
1  boostcamp-sts-v1-test-001     4.1
2  boostcamp-sts-v1-test-002     1.9
3  boostcamp-sts-v1-test-003     0.4
4  boostcamp-sts-v1-test-004     3.6

In [10]:
output.describe()

            target
count  1100.000000
mean      2.640091
std       1.279040
min       0.200000
25%       1.600000
50%       2.600000
75%       3.700000
max       4.800000

In [11]:
def normalize(x):
    min_val = output['target'].min()
    max_val = output['target'].max()
    
    return (x - min_val) / (max_val - min_val) * 5.0

In [12]:
output['target'] = output['target'].apply(normalize)

In [13]:
output.head()

                          id    target
0  boostcamp-sts-v1-test-000  3.152174
1  boostcamp-sts-v1-test-001  4.239130
2  boostcamp-sts-v1-test-002  1.847826
3  boostcamp-sts-v1-test-003  0.217391
4  boostcamp-sts-v1-test-004  3.695652

In [14]:
output.describe()

            target
count  1100.000000
mean      2.652273
std       1.390261
min       0.000000
25%       1.521739
50%       2.608696
75%       3.804348
max       5.000000

In [15]:
output.to_csv('blending_output2_normalized.csv', index=False)